<html>
    <head>
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <div class="cabecalho">
            <div class="container">
                <img class="logo" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\logo.png">
                <ul>
                    <li>
                        <a href="">Upcoming</a>
                    </li>
                    <li>
                        <a href="">Genre</a>
                    </li>
                    <li>
                        <a href="">Videos</a>
                    </li>
                    <li>
                        <a href="">Subscription</a>
                    </li>
                    <li>
                        <img class="lupa" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\lupa.png">
                    </li>
                </ul>
                <div class="data">
                    <span class="hora">06:20PM</span>
                    <span class="dia">Nov 10 <br> Wednesday</span>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="container">
                <div class="Esquerda">
                    <h1>Frozen 2</h1>
                    <p class="destaque"> 2019    Drama/Fantasy    2 hours</p>
                    <p class="destaque">Elsa the Snow Queen and her sister Anna embark on an adventure far away from the kingdom of Arendelle….</p>
                    <p class="destaque">Release date : 22 November 2019</p>
                    <button class="botaoAssistir">Watch Trailer   ▶</button>
                </div>
                <div class="Direita">
                    <img class="personagem" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\Frozen.png">
                </div>
            </div>
        </div>
        <div class="recomendados">
            <div class="container">
                <div class="Filmes_recomendados">
                    <h3>Recomended Movies</h3>
                    <div>
                        <button><</button>
                        <button>></button>
                    </div>
                </div>
                <ul class="Filmes_recomendados_lista">
                    <li>
                        <a href=""><img class="filme1" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\cueca.jpg"></a>
                    </li>
                    <li>
                        <a href=""><img class="filme2" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\dori.jpg"></a>
                    </li>
                    <li>
                        <a href=""><img class="filme3" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\fml.jpg"></a>
                    </li>
                    <li>
                        <a href=""><img class="filme4" src="C:\Users\bruno\Desktop\ProjetoFeanWeb1\layout\img\dori.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="maisfilmes">

        </div>
    </body>
</html>
